<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ImageText</key>
		<string>[笑]</string>
		<key>ImageName</key>
		<string>image0.png</string>
	</dict>
	<dict>
		<key>ImageText</key>
		<string>[冷漠]</string>
		<key>ImageName</key>
		<string>image1.png</string>
	</dict>
	<dict>
		<key>ImageText</key>
		<string>[皱眉]</string>
		<key>ImageName</key>
		<string>image2.png</string>
	</dict>
	<dict>
		<key>ImageText</key>
		<string>[沮丧]</string>
		<key>ImageName</key>
		<string>image3.png</string>
	</dict>
	<dict>
		<key>ImageText</key>
		<string>[惊讶]</string>
		<key>ImageName</key>
		<string>image4.png</string>
	</dict>
	<dict>
		<key>ImageText</key>
		<string>[哭笑]</string>
		<key>ImageName</key>
		<string>image5.png</string>
	</dict>
	<dict>
		<key>ImageText</key>
		<string>[汗]</string>
		<key>ImageName</key>
		<string>image6.png</string>
	</dict>
	<dict>
		<key>ImageText</key>
		<string>[亲]</string>
		<key>ImageName</key>
		<string>image7.png</string>
	</dict>
	<dict>
		<key>ImageText</key>
		<string>[心]</string>
		<key>ImageName</key>
		<string>image8.png</string>
	</dict>
	<dict>
		<key>ImageText</key>
		<string>[碎]</string>
		<key>ImageName</key>
		<string>image9.png</string>
	</dict>
	<dict>
		<key>ImageText</key>
		<string>[蜡烛]</string>
		<key>ImageName</key>
		<string>image10.png</string>
	</dict>
	<dict>
		<key>ImageText</key>
		<string>[花]</string>
		<key>ImageName</key>
		<string>image11.png</string>
	</dict>
</array>
</plist>
